html, body {
	height: 100%;
}

body {
	background-color: #cadfaa;
}

/* Set up flex container for responsive behavior. The venues list will
appear underneath the map on small screens in portrait orientation, the
default layout, but to the left of the map on large screens or in landscape orientation. */
.container {
	display: flex;
	flex-flow: row wrap;
	height: 90%;
}

.search, .map-canvas, .places {
	flex: 1 100%;
}

/* vh and vw units are used for scaling. */

.search {
	height: 4.5vh;
	font-size: 2vh;
	margin-bottom: 1vh;
}

.map-canvas {
	height: 80%;
	border: 2px solid #719c68;
}

.places {
	height: 15%;
	-webkit-column-width: 25vw;
	-moz-column-width: 25vw;
	-ms-column-width: 25vw;
	column-width: 25vw;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 0.5vh 0.5vw;
	font: 400 2.6vw Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #92b592;
}

/* Darken color when cursor is over a name in the venues list. */
li:hover {
	background-color: #719c68;
}

/* Add space between seach bar text and input areas. */
input {
	margin: 0 0.5vw;
}

h2, h3, h4 {
	text-align: center;
}

h2 {
	font-size: 6vw;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 4.5vw;
	margin: 0 0 1vh 0;
}

h4 {
	font-size: 3.7vw;
}

/* Place warning text for map loading errors. */
.map-canvas p {
	margin-top: 5vh;
	text-align: center;
}

/* Keep warning text from flashing during load. */
.hidden {
	display: none;
}

/* Put space between attribution images and map */
.footer img {
	margin: 2vh 1vw 0 1vw;
}

/* Infowindow styling */
.info {
	background-color: #cadfaa;
	padding: 0 2vw;
	font: 400 13px/1.5 Helvetica, Verdana, sans-serif;
}

.date {
	background-color: #f18ea0;
	margin: 0;
}

.info p {
	background-color: #dfaab4;
	text-align: left;
	margin: 0;
	padding: 1vh 2vw;
}

/* Landscape or large screens */
@media (orientation: landscape), (min-width: 800px) {
	/* move list to left side */
	.places {
		flex: 1 auto;
		order: 1;
		max-width: 20vw;
		height: 100%;
		-webkit-column-width: 15vw;
		-moz-column-width: 15vw;
		-ms-column-width: 15vw;
		column-width: 15vw;
	}
	.map-canvas {
		flex: 8 auto;
		order: 2;
		height: 100%;
	}
	/* Move search bar to right to align with edge of map */
	.search {
		margin: 0 0 1vh 20vw;
		font-size: 2.5vh;
	}

	h2 {
		font-size: 6vh;
	}

	h3 {
		font-size: 4vh;
		margin-bottom: 2vh;
	}

	li {
		font-size: 2.5vh;
	}
}