html, body {
	height: 100%;
}

body {
	background-color: #cadfaa;
}

.container {
	display: flex;
	flex-flow: row wrap;
	height: 90%;
}

.search, .map-canvas, .places {
	flex: 1 100%;
}

.search {
	height: 30px;
}

.search p {
	padding: 1vh 0;
}

.map-canvas {
	height: 80%;
	border: 2px solid #719c68;
}

.places {
	height: 20%;
}

.places {
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	-ms-column-width: 200px;
	column-width: 200px;
}

/* Landscape or large screens */
@media (orientation: landscape) and (max-device-width: 600px), (min-width: 1000px) {
	/* move list to left side */
	.places {
		flex: 1 auto;
		order: 1;
		max-width: 210px;
		height: 100%;
	}
	.map-canvas {
		flex: 8 auto;
		order: 2;
		height: 100%;
	}
	.search p {
		margin-left: 210px;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 0.5vh 0.5vw;
	font: 400 15px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #92b592;
}

li:hover {
	background-color: #719c68;
}

input {
	margin: 0 0.5vw;
}

h2, h3, h4 {
	text-align: center;
}

.map-canvas p {
	margin-top: 5vh;
	text-align: center;
}

.hidden {
	display: none;
}

.footer img {
	margin: 2vh 1vw 0 1vw;
}

.info {
	background-color: #cadfaa;
	padding: 0 2vw;
	font: 400 13px/1.5 Helvetica, Verdana, sans-serif;
}

.date {
	background-color: #f18ea0;
	margin: 0;
}

.info p {
	background-color: #dfaab4;
	text-align: left;
	margin: 0;
	padding: 1vh 2vw;
}